:root {
    --wh-white: #FFFFFF;
    --wh-white-1: #F0F0F0;

    --wh-black: #000000;
    --wh-black-2: #222222;

    --wh-black-3: #2c2c2c;
}

:root {
    --color-background: var(--wh-white-1);
    --color-text: var(--wh-black-3);

    --color-text-white: var(--wh-white);
    --color-background-navbar: var(--wh-black-2);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.5;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
